/**
 * Night colored Sans Serif font theme
 */

/* Here we import the framework. Note that this does not
 * add any styles yet. We are using the less.js framework
 * which adds variables and mixins (behave like function calls)
 * This way the framework can provide infinite features, without
 * adding anything more than you need on your website.
 */
@import "flawless/loader.less";

/**
 * Typefaces
 */
@body-family: Helvetica, Arial, sans-serif;
@heading-family: Georgia,"Times New Roman", Times, serif;
@blockquote-family: Georgia,"Times New Roman", Times, serif;

/**
 * Colors
 */
 
@regular-color: #999; //#333;
@alternate-color: #036;

@page_header_background_color: #080808;

@nav_background_color: transparent;
@overhang_background_color: @nav_background_color;
@article_background_color: #080808;

@asides_background_color: #4183C4;
@aside1_background_color: @asides_background_color;
@aside2_background_color: @asides_background_color;

@page_footer_background_color: #222;
@page_footer_color: #ccc;
@page_footer_anchor_color: #eee;

@etc_color: @page_footer_color; //darken(@page_footer_color,10%);
@etc_anchor_color: @page_footer_anchor_color; //darken(@page_footer_anchor_color,10%);

@copyright_color: @page_footer_color; //darken(@page_footer_color,20%);
@copyright_anchor_color: @page_footer_anchor_color; //darken(@page_footer_anchor_color,20%);

@page_background_color: @page_footer_background_color;

/* The vertical rhythm is used to give your webpages a consistent
 * look. The whole grid system relies on this value to calculate
 * gaps, spans and so on. Basically this defines the row-height of
 * the grid in pixels and aligns all elements in the flow of the grid. 
 */
@normal_read_vertical_rhythm: 1.5;
@light_read_vertical_rythm: 2;
@dense_read_vertical_rythm: 1.2;

/* Here you can control the overall font size. Not that this value 
 * strongly correlates with the vertical rhythm. If you make these
 * two values too different your text flow will look ugly
 */
@theme_font_size: 13;


body {
    /** Define vertical rythm of text in normal/light/dense read areas */
    .body_rhythm();
    
    .normal-read {
        .normal_rhythm();
    }
    
    background-color: @page_background_color;
	/* this adds the standard typography theme with custom families and colors */
	.type_theme_flawless(@body-family, @heading-family, @regular-color, @alternate-color);
	.inline_flow();
}

body > header {
    background-color: @page_header_background_color;
}

nav.top-overhang {
	/* these are the colors for the states - normal, hover, active */
	.nav_background(#E3E3E3, @overhang_background_color, @overhang_background_color);
	.nav_text_color(black, black, black);
}

article.main {

    /* themed */
    background-color: @article_background_color;
    
    .sections {
        section {
            .list_rhythm();
        }
    }
    
    .asides {
        background-color: @asides_background_color;
        
        aside {
            .list_rhythm();
        }
        
        aside.sidebar-1 {
        	background-color: @aside1_background_color; /* add background color */
        }

        aside.sidebar-2 {
        	background-color: @aside2_background_color; /* add background color */
        }
    }
}

footer .etc {
    
    color: @etc_color;

    a {
        color: @etc_color;
    }
}

footer .copyright {
    font-size: 10px;
    line-height:1.6;
    color: @copyright_color;

    a {
        color: @copyright_anchor_color;
    }
}

blockquote {
    font-family: @blockquote-family;
}

.no-debug-styles();
