article.leftside {
    position:absolute;
    left:0;
    width:67%;
    min-height:500px;
    text-align:right;
    padding-top:10px;
}
article.leftside .sections {
    display:inline-block;
    width:530px;
    max-width:90%;
    text-align:left;
    margin-right:20px;
}

aside.rightside {
    position:relative;
    margin-left: 67%;
    width:33%;
    min-height:500px;
    padding-top:10px;
}
aside.rightside .sections {
    left:0;
    width:270px;
    max-width:90%;
    margin-left:20px;
}

body > header {
    position: relative;
    width:67%;
    text-align:right;
}
body > header h1 {
    display:inline-block;
    position: relative;
    width:530px;
    max-width:90%;
    text-align:left;
    margin-right:20px;
    overflow: hidden;
}

footer {
    position:absolute;
    left:50%;
    margin-top:10px;
    margin-left:-370px;
    width:740px;
    text-align: center;
    overflow: hidden;
}
footer .copyright img {
    vertical-align: -4px;
}

