/* Here we define the standard styles that are applied all screens  */


/* Base layout SuperVGA and up */
.divide_width_twothirds(1024px * 1.5,1024px);


/* Core division of the page */
body {
    background-color: @page_background_color;
}

nav.page-menu {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px 8px;
}

body > header {
    height: @header_height;
    background-color: @page_header_background_color;

    .leftside {
        height: @header_height;
        position: relative;
    }

    h1 {
        position: absolute;
        right: 0px;
        text-align:left;
        overflow: hidden;
    }
}

nav.main-menu {
	/* compose a horizontal navigation */
	.nav_horizontal();
	/* these are the colors for the states - normal, hover, active */
	.nav_background(#E3E3E3, @nav_background_color, @nav_background_color);
	.nav_text_color(black, black, black);
	
	/* like css rounded corners: top-left, top-right, bottom-right, bottom-left */
	.nav_rounded(0px 5px 0px 0px);
	/* padding around the text */
	.nav_padding(0.5em 1em);
	/* define gaps left, right of each nav item */
	.nav_gap(0, 0.3em);

    position: absolute;
    right: 0px;
    bottom: 0px;
    /*  remove the explicit width to make the navigation right aligned */
    text-align:right;
}


article.main {
    position:relative;
    left:0;
    min-height:@article_aside1_height + @article_aside2_height;
    padding-top:10px; /* vert gap */
    
    /* themed */
    background-color: @article_background_color;

    .sections {
        position: relative;
        text-align:right;

        .stretcher {
            display:inline-block; /* rightmost using text-align */
            position: relative;
            text-align:left;
        }
    }
    
    .asides {
        background-color: @asides_background_color;
        position:absolute;
        top:0;
        right:0;
        height:100%;
        
        aside {
            margin-top:10px;
            border:1px solid black;
        }    
        aside.sidebar-1 {
        	background-color: @aside1_background_color; /* add background color */
        }

        aside.sidebar-2 {
        	background-color: @aside2_background_color; /* add background color */
        }
    }
}


footer {
    margin-top: 20px;
    position:absolute;
    text-align: center;
    overflow: hidden;
}
footer .copyright img {
    margin-top:10px;
    vertical-align: -4px;
}
	

/* development styling */
code.info { display: block; position: absolute;}




