/* Here we define the standard styles that are applied all screens  */

body {
    background-color: @page_background_color;
}
body > header {
    height: @header_height;
    background-color: @page_header_background_color;
}
body > header .leftside {
    width:67%;
    position: relative;
    height: @header_height;
}

body > header h1 {
    position: absolute;
    right: 0px;
    width:530px;
    max-width:90%;
    text-align:left;
    margin-right:20px;
    overflow: hidden;
}

nav.main-menu {
	/* compose a horizontal navigation */
	.nav_horizontal();
	/* these are the colors for the states - normal, hover, active */
	.nav_background(#E3E3E3, @nav_background_color, @nav_background_color);
	.nav_text_color(black, black, black);
	
	/* like css rounded corners: top-left, top-right, bottom-right, bottom-left */
	.nav_rounded(0px 5px 0px 0px);
	/* padding around the text */
	.nav_padding(0.5em 1em);
	/* define gaps left, right of each nav item */
	.nav_gap(0, 0.3em);

    position: absolute;
    right: 0px;
    bottom: 0px;
    width:530px;
    /*  remove the explicit width to make the navigation right aligned */
    text-align:right;
}

article.main {
    position:absolute;
    left:0;
    width:67%;
    min-height:500px;
    text-align:right;
    padding-top:10px; /* vert gap */
    
    /* themed */
    background-color: @article_background_color;
}
article.main .sections {
    display:inline-block;
    width:530px;
    max-width:90%;
    text-align:left;
    margin-right:20px; /* horz gap */
}



aside.sidebar-1 {
    position:relative;
    margin-left: 67%;
    width:33%;
    min-height:500px;
    padding-top:10px;
	background-color: @aside1_background_color; /* add background color */
}

aside.sidebar-2 {
    position:relative;
    margin-left: 67%;
    width:33%;
    min-height:500px;
    padding-top:10px;
	background-color: @aside2_background_color; /* add background color */
}


aside.sidebar-1 .sections,
aside.sidebar-2 .sections {
    left:0;
    width:270px;
    max-width:90%;
    margin-left:20px;
}

footer {
    position:absolute;
    left:50%;
    margin-top:10px;
    margin-left:-370px;
    width:740px;
    text-align: center;
    overflow: hidden;
}
footer .copyright img {
    vertical-align: -4px;
}

