---
layout: twothirds-dev
title: Two Thirds sizes
header_title: Two Thirds
author: Henrik Vendelbo
date: 2010-01-01
category:
 - sizes
---


<header class="split-thirds">
	<div class="left-double"><div class="restricted-width">
		
	<h1>
	{{ page.header_title }} (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)
	</h1>
	<section>
		<h2>- sub title</h2>
	</section>
	
	</div></div>
	
	{% include page_menu.html %}
</header>

<article class="main split-thirds">
	<div class="left-double sections">
		<code class="info">Sections (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>
		<div class="restricted-width four-columns">
		
	<section>
		<h3>Layout principle</h3>
		<p>On mobile iPad and Smartphones the layout will be tailored to landscape 1024 pixels like the ipad and scale in portrait and other resolutions.</p>	

		Section (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)

		{% include twothirds_terminology.html %}
	</section>

	<section>
		<h3 class="portrait-only">Portrait</h3>
		<h3 class="landscape-only">Landscape</h3>
	</section>
		
	<section class="post">
	        <h1>
	            <a href='{{page.url}}'>{{page.title}}</a></h1>
	
				<ul class="posts">
				<li>
					<time class="postdate">
						<!-- 
						<span class="postweekday">{{ page.date | date: "%w" }}</span>
						-->
						<span class="postmonth">{{ page.date | date: "%b" }}</span>
						<span class="postday">{{ page.date | date: "%d" }}</span>
					</time>
		
	                {% for category in page.categories %}
	                <span class="category">{{category}}</span>
	                {% endfor %}

	                <a class="retweet" href="{{site.url}}{{page.url}}">{{page.title}}</a>
					<p>{% include lorem_ipsum.html %}</p>
				</li>
					
				<li></li>	
				</ul>
				
	        <div id="disqus_thread"></div>
	<!-- 
	<script type="text/javascript" src="http://disqus.com/forums/zduck/embed.js"></script><noscript><a href="http://zduck.disqus.com/?url=ref">View comments.</a></noscript>
	-->
	</section>
	
	<section>
		<h2>Mobile Support</h2>
		<p>Specific alternatives for iPad.</p>
		<p>Future Add Icon to desktop support, and optional pop-up</p>
		
		<h2>Outstanding</h2>
		<ul>
			<li>Correct Page Zoom</li>
			<li>Working in IE8/7</li>
			<li>Basic Typography</li>
			<li>Fixed width version</li>
			<li>Dynamic sidebar height</li>
			<li>Accordion Sidebar</li>
			<li>Class for full/wide section width (+overhang) vs normally (-overhang)</li>
			<li>Fix the 3/3 section widths</li>
			<li>Facebook like sidebar height/scroll position</li>
		</ul>
	</section>
	

	<!-- Article level navigation -->
	<nav class="top-overhang">
    	<ul>
        	<li><a class="active" href="#">Article 1</a></li>
            <li><a href="#">Article 2</a></li>
            <li><a href="#">Article 3</a></li>
            <li><a href="#">Article 4</a></li>
            <li><a href="#">Article 5</a></li>
        </ul>
	</nav>
	</div></div> <!-- right-third and restricted-width -->
	
	<div class="right-third asides">
		<code class="info">Asides (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>
		<div class="restricted-width">
		
		<aside class="sidebar-1">
			Aside (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)

			{% include lorem_ipsum.html %}
		</aside>
		<aside class="sidebar-2">
			{% include lorem_ipsum.html %}
		</aside>
	</div>

	<!-- Aside level navigation -->
	<nav class="top-overhang">
    	<ul>
        	<li><a class="active" href="#">Sidebar 1</a></li>
            <li><a href="#">Sidebar 2</a></li>
            <li><a href="#">Sidebar 3</a></li>
        </ul>
	</nav>
	</div>
</article>

<footer>
	<nav class="etc split-thirds">
		<div class="left-third">
			<div class="restricted-width">
				<section>{% include lorem_ipsum.html %}</section>
			</div>
		</div>

		<div class="middle-third">
			<div class="restricted-width">
				<section>{% include lorem_ipsum.html %}</section>
			</div>
		</div>

		<div class="right-third">
			<div class="restricted-width">
				<section>{% include lorem_ipsum.html %}</section>
			</div>
		</div>
	</nav>
	
	<code class="info">Etc (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>

	{% include demo-footer-copyright.html %}
</footer>

<div class="top-edge">
</div>
	
<div class="bottom-edge">
	<a href="production">Development Version [swap]</a>
</div>

{% include dev_time_markup.html %}
