---
layout: master
thirds: development
flawless: development
dev_time_markup: yes
title: Thirds Layout
header_title: Thirds Layout
author: Henrik Vendelbo
date: 2010-01-01
category:
 - sizes
---
<header class="constrained" style="background: transparent;">
	<div class="thirds">
		<div class="content">
	<h1>
	{{ page.header_title }} 
	</h1>
	(<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)
	<section>
		<h2>- sub title</h2>
	</section>
		</div>
		<div class="left-half-background" style="background-image: -webkit-gradient(linear, 0% 0%,100% 0%, from(#fcfcfc) to(#a3a3a3));"></div>
		<div class="right-half-background" style="background: url(/images/green-blur.jpg) no-repeat white;"></div>
	</div>
</header>

<div class="intro constrained">
	<div class="thirds" data-custom-backgrounds="left-half:intro-background; right-half:intro-other intro-second">
		<div class="content">
			<div class="two-thirds">
				<section>
				{{ site.lorem-ipsum | textilize }}
				{{ site.ut-wisi-enim | textilize }}
				</section>
				<section>
					<p>Separate sibling elements hold content and backgrounds. If the background requirements are simple roll
						up the content div; Use the class "fourths-content". 
					</p>
					<a href="http://www.w3.org/html/logo/">
					<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-graphics-multimedia-semantics.png" width="229" height="64" alt="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Multimedia, and Semantics" title="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Multimedia, and Semantics">
					</a>
				</section>
			</div>
			<div class="third">
				<section>
				{{ site.lorem-ipsum | textilize }}
				</section>
				
			</div>
		</div>
		<div class="left-two-and-gutter-background"></div>
		<div class="right-third-and-gutter-background"></div>
	</div>
</div>

<div class="allposts constrained">
	<div class="thirds">
		<div class="content tri-posts">
			{% for post in site.posts %}
			<article class="third">
				<details>
				<summary>
					<h2>{{ post.title }}</h2>
					{% if post.image %}<img src="{{ post.image }}">{% endif %}
					{% if post.summary %}{{ post.summary | truncatewords:50 }}{% endif %}
					<a>More ...</a>
				</summary>
				</details>
			</article>
			{% endfor %}
		</div>
	</div>
</div>

<div class="main constrained">
	<div class="thirds">
		<div class="content">
		
			<aside class="third">
				<div class="show-minmax-overall-width">Size of article </div>
				<div class="show-min-section-width">Size of sidebar </div>
				<div class="show-max-section-width">Size of sidebar </div>
				<br>
				{{ site.lorem-ipsum | textilize }}
			</aside>
			<article class="two-thirds">
				{{ site.lorem-ipsum | textilize }}
				{{ site.ut-wisi-enim | textilize }}
			</article>
		</div>
		<div class="left-half-background"></div>
		<div class="right-half-background"></div>
	</div>
</div>

<code class="info-x">(<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>

<footer class="constrained">
	{% include thirds-footer-etc.html %}
	{% if show_offset_info %}
	<code class="info">Etc (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>
	{% endif %}
	{% include fourths-footer-copyright.html %}
</footer>
