@CHARSET "UTF-8";

/*
 Name: Sourcebits Technologies
 URL: http://www.sourcebits.com
 Author: Chinmay Chiranjeeb @ Sourcebits Technologies
 Author URL: http://www.sourcebits.com
 */
#home {
	min-height: 650px;
}

#home .container{
	overflow: hidden;
}

.home-content {
	color: #5378A6;
	float: right;
	line-height: 36px;
	margin: 35px 45px 0 50px;
	position: relative;
	width: 375px;
	z-index: 101;
}

.home-content p {
	text-align: left;
	line-height: 15px;
}

.home-content p.second-para {
	line-height: 15px;
}

.home-desc h1 {
	padding: 0 0 15px 0;
	font-size: 23px;
	line-height: 34px;
}

.home-desc h1 br{
	/*margin: 0 0 15px 0;*/
}

#service-menu li a {
	background: url("../images/buttons/tab_menu.png") no-repeat left top;
	width: 120px;
	height: 70px;
	display: block
}

#service-menu .mac-menu {
	background-position: -520px 10px !important;
}

#service-menu .iphone-menu {
	background-position: 2px 10px !important;
}

#service-menu .ui-menu {
	background-position: -654px 12px !important;
}

#service-menu .web-menu {
	background-position: -260px 10px !important;
}

#service-menu .mobile-menu {
	background-position: -390px 12px !important;
}

#service-menu .ipad-menu {
	background-position: -130px 11px !important;
}

#service-menu .android-menu {
	background-position: -786px 12px !important;
}

#service-menu li.active span {
	display: block !important;
	opacity: 1 !important;
	filter: alpha(opacity =       100);
}

li#service_ui {
	margin: 1px 0px 0px !important;
}

#service-menu li span {
	background: url("../images/buttons/tab_menu_select.png") no-repeat left bottom;
	height: 70px !important;
	filter: alpha(opacity =       0);
}

#subcategory_menu li.subcategory_menu_active,#subcategory_menu li:hover {
	background: url("../images/buttons/subcat-menu-hover.png") no-repeat left 0 !important;
}

#subcategory_menu li a {
	margin: 8px 0 0;
	height: 30px !important;
	line-height: 20px !important;
	padding: 0 0 0 30px;
	overflow: hidden;
	width: 100% !important;
	display: block;
	background-position: left top;
	background-repeat: no-repeat;
}

#subcategory_menu li a span {
	padding: 0 0 0 2px;
}

#subcategory_menu li.condensed a {
	padding: 0 0 0 20px;
}

.home_top,.width_100pc {
	width: 100%;
	float: right;
}

.home_top {
	height: 342px;
	margin: 33px 0 0 1px;
	width:1050px;
}

.slideshow_holder {
	width: 437px;
	min-height: 245px;
	float: right;
	position: relative;
	right: 176px;
}

#slideshow_frame {
	background: url("../images/slider_bg.png") no-repeat 0 0;
	width: 437px;
	min-height: 245px;
	position: absolute;
	left: 0;
	z-index: 2;
}

#home_slideshow {
	height: 236px;
	left: 12px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 416px;
	z-index: 1;
}

.slideshow_title {
	width: 100%;
	position: relative;
	top: 253px;
}

.slide_title {
	font-size: 24px;
	color: #24363a;
	float: left;
	margin: 4px 0 0 10px;
}

.case_study {
	background: url("../images/buttons/casestudy.png") no-repeat left top;
	width: 98px;
	height: 19px;
	display: block;
	float: right;
	margin: 8px 8px 0 0;
	cursor: pointer;
	text-indent: -9999px;
}

.case_study:hover {
	background-position: left bottom;
}

#home .leftnav {
	margin: -51px 0px -8px;
}

#home .right .description {
	height: 115px;
	line-height: 17px;
	margin: 10px 0 20px;
	overflow: hidden;
	text-align: justify;
}

#home .right h2 {
	height: 25px;
	overflow: hidden;
}

#home .content-inner .right {
	width: 295px;
	padding: 35px 0px 5px 0;
	margin-right: 20px;
}

#home .content-inner {
	min-height: 200px;
	height: 250px;
	top: -1px;
}

#home .content-body {
	height: 270px !important;
	padding-top: 0px;
}

.viewmore {
	background: url("../images/buttons/viewmore.png") no-repeat left top;
	/* For announcement widget */
	/* bottom: -12px; */
	bottom: -19px;
	
	cursor: pointer;
	height: 31px;
	margin: 10px 0 0;
	position: absolute !important;
	right: 5px !important;
	width: 137px !important;
	z-index: 200;
}

.viewmore:hover {
	background-position: left bottom;
}

/* GET A QUOTE CONTENTS BEGINS */
.home-btns {
	margin: 15px 0 0 3px;
}

#twitter_div {
	position: relative;
	/* For introducing announcement widget */
	display: none;
}

#twitter_div h2 {
	background: url("../images/logo/twitter.png") no-repeat right 5px;
	width:220px;
}

#twitter_update_list {
	left:-13px;
	position:absolute;
	top:64px;
}

#twitter_update_list li {
	padding: 10px 0;
	word-wrap: break-word;
	color: #8D9798;
	display: block;
	height: auto;
	width: 233px;
	background: url(../images/twitbox-top.png) no-repeat 0 0;
	padding: 10px 7px 7px 0;
	text-shadow: none;
}

#twitter_update_list li a {
	color: #8dd2f0;
	display: none;
}

#twitter_update_list li span {
	display: block;
	height: auto;
	width: 205px;
	background: url(../images/twitbox-bottom.png) no-repeat 0 bottom;
	padding: 0px 8px 7px 18px;
	font-size: 11px;
	line-height: 13px;
}

#twitter_update_list li span a {
	color: #29abe2;
	display: inline;
	font-size: 10px;
}

#twitter_div .follow_twitter, #twitter_div .facebook_fan {
	background: url(../images/buttons/fb-twitt.png) 0 0 no-repeat;
	width: 110px;
	text-indent: 0;
	right: 0;
}

#twitter_div .follow_twitter span, #twitter_div .facebook_fan span{
	text-indent: -99999px;
	display: block;
}

#twitter_div .follow_twitter {
	background-position: right 0;
	margin: 0 -17px 0 9px;
}

#twitter_div .follow_twitter:hover {
	background-position: right bottom;
}

#twitter_div .facebook_fan:hover {
	background-position: left bottom;
}

.video-placeholder {
	position: relative;
	float: right;
	width: 510px;
	right: 30px;
	top: -14px;
	height: 307px;
}

.video-promo {
	height: 276px;
	overflow: hidden;
	width: 491px;
	position: relative;
	z-index: 1;
	padding: 6px 5px 21px;
	background: url(../images/new-video-placeholder.png) no-repeat 0 0;
	margin: 0;
}

.video-holder {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

.video-promo.ua-ipad {
	background: url(../images/new-video-placeholder-mac.png) no-repeat 0 0;
	height: 303px;
	overflow: hidden;
}

.video-promo.ua-ipad {
	overflow: hidden;
}

.video-promo.ua-ipad .video-holder {
	height: 306px;
	left: -1px;
}

.video-promo.ua-ipad .video-holder div {
	top: -1px;
}

.video-promo-shadow {
	background: url(../images/video-promo-shadow.png) no-repeat 0 bottom;
	height: 8px;
	position: relative;
	top: -38px;
	width: 654px;
}

.placeholder {
	background: url(../images/video-placeholder.png) center center;
	height: 306px;
	position: absolute;
	top: -2px;
	width: 540px;
	z-index: 5;
}

.play-video {
	cursor: pointer;
	height: 100%;
	width: 100%;
	margin-left:-1px;
}

.play-button {
	background: url(../images/play_again.png) center center;
	height: 96px;
	left: 230px;
	top: 115px;
	width: 96px;
	position: absolute;
	cursor: pointer;
	text-indent: -99999px;
	display: none;
}

.placeholder:hover .play-button {
	display: block;
}

#moogaloop {
	position: relative;
	z-index: 1;
}

.overlay {
	position: absolute;
	top: -100px;
	background: none;
	opacity: 0.3;
	height: 100px;
	width: 200px;
	right: 500px;
	z-index: 500;
}

h1 strong {
	font-weight: bold !important;
}

.follow-fan{
	left:-2px;
	position: relative;
    top: 271px;
}

/* For announcement widget */
.content-inner .left {
    margin-left: -30px;
}

.visibility-hidden {
    visibility: hidden;
}

.meet-us-wwdc, .meet-us-wwdc-clone {
    -webkit-transition-property: background-position;
    -webkit-transition-duration: 100ms;
    -moz-transition-property: background-position;
    -moz-transition-duration: 100ms;
    background: url(../images/wwdc_badge.png) no-repeat;
    background-position: 0 0;
    display: block;
    width: 194px;
    height: 106px;
    text-indent: -9999px;
    position: absolute;
    right: -15px;
    top: 16px;
    z-index: -1;
}

.meet-us-wwdc-clone {
    background: transparent;
    z-index: 1001;
    top: 30px;
    height: 92px;
}

.meet-us-wwdc.hover {
    -webkit-transition-property: background-position;
    -webkit-transition-duration: 100ms;
    -moz-transition-property: background-position;
    -moz-transition-duration: 100ms;
    background-position: 3px 3px;
}

.meet-us-wwdc:focus, .meet-us-wwdc-clone:focus {
    outline: none;
}