<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Slablet</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet/less" type="text/css" href="/css/slablet/master.less" media="screen" title="flawless_css"/>
<!--[if IE]>
  <script src="/js/html5.js" />
<![endif]-->
<!-- All JavaScript at the bottom, except for Modernizr. -->
<script src="/js/modernizr-1.7.min.js"></script>

{% include flawless_development.html %}
{% include css_browser_selector.html %}    


<!--[if !IE]><!-->
<script src="/js/iscroll.js"></script>
<!--<![endif]-->

</head>
<body>
<div id="main" class="abs">
{{ content }}
</div>

<!-- JavaScript -->
{% if page.googlecdn %}
  <!-- Grab Google CDN's jQuery. fall back to local if neccessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endif %}
  <script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>

<script src="/js/essentialjs.js"></script>

<script src="/js/slablet-master.js"></script>
</body>
</html>