---
layout: master
twothirds: development
flawless: development

---
{% unless page.no_tabs %}{% include page_header.html %}{% endunless %}
<article class="main split-thirds">
	<div class="left-double sections normal-read">
		<div class="restricted-width four-columns">
		
{% if page.wrap-section %}<section>{% endif %}
{{ content }}
{% if page.wrap-section %}</section>{% endif %}

{% include article-nav.html %}
	</div></div> <!-- right-third and restricted-width -->
	
	<div class="right-third asides normal-read">
		<div class="restricted-width">
			
		<aside>{% include demo-sidebar.html %}</aside>
		</div>

		{% unless page.no_tabs %}{% include sidebar-nav.html %}{% endunless %}
	</div>
</article>
<footer>
	{% include page_footer_etc.html %}
	{% if show_offset_info %}
	<code class="info">Etc (<var data-parent-prop="offsetWidth"></var> x <var data-parent-prop="offsetHeight"></var>)</code>
	{% endif %}
	{% include demo-footer-copyright.html %}
</footer>
