<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Fluid Theme v1.0, June 22nd 2009, Metalab Design, http://www.metalabdesign.com -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=905, user-scalable=yes" />
	<meta name="Description" content="This is the Fluid theme by MetaLab. To install it, find it in the Tumblr Theme Gallery, then click &quot;Install&quot;. Let us know if you run into any issues. Enjoy!" />
	<title>FLUID THEME DEMO</title>
	<link rel="shortcut icon" href="http://25.media.tumblr.com/avatar_93328504a2b3_16.png" />
    <link rel="alternate" type="application/rss+xml" href="http://fluidtheme.tumblr.com/rss" />
	<link rel="stylesheet" href="http://static.tumblr.com/xsp9wak/8wmklppx2/fluid.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		
	<style type="text/css"></style>
	<link rel="stylesheet" href="http://static.tumblr.com/xsp9wak/akkklnvyu/jquery.fancybox-tumblr.css" type="text/css" media="screen" title="no title" charset="utf-8"/>   
   	<script src="http://static.tumblr.com/xsp9wak/rqFklb40z/jquery-1.3.2.min.js" type="text/javascript"></script>
	<script src="http://static.tumblr.com/xsp9wak/WsCkloo8h/fluid.js" type="text/javascript"></script>
	<script src="http://static.tumblr.com/xsp9wak/trzklb43b/jquery.fancybox-1.2.1.pack.js" type="text/javascript"></script>
	<script src="http://static.tumblr.com/xsp9wak/6JXkli7dk/cufon-min.js" type="text/javascript"></script>
	<script src="http://static.tumblr.com/xsp9wak/g6Wklb4aa/tg.js" type="text/javascript"></script>
   	<script type="text/javascript">
	// ##################### THEME CONFIGURATION HERE ####################
		var ajax_loader = true; //set to false to use standard pagination
	// ###################################################################
	</script>
<meta http-equiv="x-dns-prefetch-control" content="off"/></head>           
<body>
<div id="wrap">
{{ content }}
</div><!-- wrap -->
<script type="text/javascript"> Cufon.replace('#title h1');	Cufon.now(); </script>

<!-- BEGIN TUMBLR CODE -->
<iframe src="http://assets.tumblr.com/iframe.html?9&src=http%3A%2F%2Ffluidtheme.tumblr.com%2F&amp;lang=en_US&amp;name=fluidtheme&amp;brag=0" scrolling="no" width="330" height="25" frameborder="0" style="position:absolute; z-index:1337; top:0px; right:0px; border:0px; background-color:transparent; overflow:hidden;" id="tumblr_controls"></iframe>

<!--[if IE]><script type="text/javascript">document.getElementById('tumblr_controls').allowTransparency=true;</script><![endif]-->

<script type="text/javascript">_qoptions={qacct:"p-19UtqE8ngoZbM"};</script>

<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>

<noscript><img src="http://pixel.quantserve.com/pixel/p-19UtqE8ngoZbM.gif" style="display:none; border-width:0px; height:1px; width:1px;" alt=""/></noscript>
<!-- END TUMBLR CODE -->

</body>
</html>