---
layout: master
twothirds: production
flawless: production
guesswho: itsme
---
<header class="split-thirds">
	<div class="left-double"><div class="restricted-width">

	<h1>{{ page.header_title }}</h1>
	
	</div></div>
</header>

<article class="main split-thirds">
	<div class="left-double sections normal-read">
		<div class="restricted-width four-columns">
		
	{{ content }}

  <section>
  <ul class="posts">
    {% for post in site.posts limit: 1 %}
    <li>
		<figure class="postdate">
			<!-- 
			<span class="postweekday">{{ post.date | date: "%w" }}</span>
			-->
			<span class="postmonth">{{ post.date | date: "%b" }}</span>
			<span class="postday">{{ post.date | date: "%d" }}</span>
		</figure>
		<h4><a href="{{ post.url }}">{{ post.title }}</a>
			<br><small style="color:#888;">by {{ post.author }}</small>
			</h4>

		{{ post.content }}
	</li>
    {% endfor %}

	<li><h2>More...</h2></li>
	
    {% for post in site.posts limit: 15 %}
    <li>
		<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
	</li>
    {% endfor %}
  </ul>
</section>

	<!-- Article level navigation -->
	<nav class="top-overhang">
    	<ul>
        	<li><a class="active" href="#">Article 1</a></li>
            <li><a href="#">Article 2</a></li>
            <li><a href="#">Article 3</a></li>
            <li><a href="#">Article 4</a></li>
            <li><a href="#">Article 5</a></li>
        </ul>
	</nav>
	</div></div> <!-- right-third and restricted-width -->
	
	<div class="right-third asides normal-read">
		<div class="restricted-width">
			
		<aside id="twitter-ticker">
			
		  <div >
		    <header>
		      <figure><img src="/images/twitter_64.png" width="64" height="64" alt="Twitter icon" /></figure>
		       <h2 class="tut">Tweets</h2>
		     </header>

		     <div class="tweet-container"><img class="loading" src="/images/loading.gif" width="16" height="11" alt="Loading.." /></div>

		     <div id="scroll"></div>
		</aside>
	</div>

	<!-- Aside level navigation -->
	<nav class="top-overhang">
    	<ul>
        	<li><a class="active" href="#">Sidebar 1</a></li>
            <li><a href="#">Sidebar 2</a></li>
            <li><a href="#">Sidebar 3</a></li>
        </ul>
	</nav>
	</div>
</article>

<footer>
	<nav class="etc split-thirds normal-read">
		<div class="left-third">
			<div class="restricted-width">
				<section>
					<ul class="breadcrumb">
					    <li class="home"><a href="/">HTML 5 Playground</a></li>
						{% if page.folder %}
					    <li class="folder"><a href="{{ page.folderurl }}">{{ page.folder }}</a></li>
						{% endif %}
					    <li><a href="." class="active">{{ page.header_title }}</a></li>
					</ul>

					<h2>Estimate a Translation</h2>
					<h2>On A Quest</h2>
					<h2>Personal Blog Entries</h2>
					<p><br><br><br> </p>
			</div>
		</div>

		<div class="middle-third">
			<div class="restricted-width">
				<section>
					<h2>About Fresh Translation</h2>
					<p>
					Fresh Translation is a newly started company founded by Caterine Apruzzese and its aim is to provide a translation service that is accessible and tailored to our customers' specific needs. Originally from Venezuela, I lived and studied in the city of Oporto in Portugal for ten years and in 2007 I moved to London to complete my education.
</p><p>
Before running my own translation business, I was working as an in-house translator and a marketing and consumer researcher for a Global company based in London. 

					<a href="/more/">More ...</a>
</p>
				</section>
			</div>
		</div>

		<div class="right-third">
			<div class="restricted-width">
				<section>
{% for post in site.posts %}
<p>
  <a href="{{ post.url }}">{{ post.title }}</a>
  <time>{{ site.time }}</time>
</p>
{% endfor %}
				</section>
			</div>
		</div>
	</nav>
	
{% include blog-footer-copyright.textile %}
</footer>

